@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.page {
  margin: 0;
  padding: 0;
  color: #131313;
  font-family: "Press Start 2P", serif;
  background-image: url(../images/background.svg);
  background-size: cover;
  inline-size: 100%;
  block-size: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  block-size: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.content__title {
  font-weight: 400;
  font-size: 96px;
}

.content__text {
  opacity: 0.6;
}

.button {
  border: 8px solid #131313;
  padding: 32px 128px;
  background-color: #fff;
  cursor: pointer;
}

.card {
  display: none;
  flex-direction: column;
  gap: 32px;
  border: 8px solid #131313;
  padding: 32px;
  background-color: #fff;
  max-inline-size: 728px;
}

.card.visible {
  display: flex;
  animation: slide-in 1s ease-in-out forwards;
}

@keyframes slide-in {
  from {
    opacity: 0;
    scale: 0;
  }

  40% {
    opacity: 0;
  }

  80% {
    opacity: 1;
    scale: 1.1;
  }

  to {
    scale: 1;
  }
}

.card__title {
  font-size: 32px;
  text-align: center;
}

.card__text {
  font-size: 16px;
  line-height: 150%;
}